html, body {
    cursor: url("https://files.catbox.moe/9mcdm2.png"), auto;
    background-size: 1000px;
    background-color: #25360F;
    margin: 5;
    background-position: fixed;
    background-image: url('https://file.garden/aayu7b0kShQ_xI0d/trees.jpg');
    
}

.box {
  width: 1000px;
  height: 675px;
  margin: 0px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns:200px auto;
  background-image: url('https://file.garden/aayu7b0kShQ_xI0d/background.jpg');
  background-size: 1000px 675px;
  border-radius: 2px;
  border-color: #000000;
  border-style: solid;
  border-width: 5px;
}

a {
  font-size: 20px;
  color: #f7ebcf;
  cursor: url("https://files.catbox.moe/xenunt.png"), auto;
}


main {
  border-radius: 2px;
  border-color: #361D03;
  font-family: serif;
  color: #f7ebcf;
  font-size: 20px;
  
}

a:hover img {
  transform: scale(110%);
}
