html, body {
    cursor: url("https://files.catbox.moe/9mcdm2.png"), auto;
    background-image: url('https://i.pinimg.com/originals/73/87/04/7387049b0389aadfa111e670929afb64.jpg');
    background-size: 1500px;
    background-color: #25360F;
    margin: 0;
}
.box {
  max-width: 1300px;
  margin: 10px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns:200px auto;
}


a {
  color: #f7ebcf;
}

nav, main, footer {
  border: black 5px solid;
  padding: 20px;
  border-radius: 2px;
  font-family: serif;
  color: #f7ebcf;
}

header {
  grid-row: 1;
  grid-column: 1/3;
  text-align: center;
  height: 500px;
  
}

nav {
  grid-row: 2;
  grid-column: 1/3;
  background-color: #515431;
  text-align: center;
  word-spacing: 100px;
  font-size: 50px;
}

main {
  grid-row: 3;
  grid-column: 1/3;
  background-color: #95724a;
  font-size: 20px;
}

table, th, td {
  border: 2px solid #f7ebcf;
  padding: 10px;
  border-collapse: collapse;
}

footer {
  grid-row: 4;
  grid-column: 1/3;
  text-align: center;
  background-color: #55412b;
  color: black;
  font-size: 20px;
}