html, body {
    cursor: url("https://files.catbox.moe/9mcdm2.png"), auto;
    background-image: url('https://i.pinimg.com/originals/73/87/04/7387049b0389aadfa111e670929afb64.jpg');
    background-size: 1500px;
    background-color: #25360F;
    margin: 0;
}
.box {
  max-width: 1300px;
  margin: 10px auto;
  display: grid;
  grid-gap: 10px;
  grid-template-columns:200px auto;
}

a {
  font-size: 20px;
  color: #f7ebcf;
}

header, nav, main, footer {
  border: #25360F 5px solid;
  padding: 20px;
  border-radius: 2px;
  font-family: serif;
  color: #f7ebcf;
  font-size: 20px;
}

header {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  text-align: center;
  height: 100px;
  background-image: url('https://files.catbox.moe/y7hm2f.JPG');
}

nav {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background-color: #515431;
}

main {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background-color: #95724a;
}

footer {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  text-align: center;
  background-color: #55412b;
  color: #95724a;
}